.fa {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  text-decoration: none;
  color: grey;
}

.icons-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

@media screen and (max-width: 991px) {
  .fa {
    margin: 0.5rem 2rem 0.5rem 0;
  }
}
